html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #CBA17C;
    font-family: 'Nanum Gothic', sans-serif;
}

.main #mainsection {
    display: inline-block;
    width: 100%;
    margin: 0rem;
    height: 30rem;
    position: relative;
    background-color: white;
    z-index: 1;
}

.main #mainsection::after {
    background-image: url("resource/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    height: 30rem;
    content: "";
    position: absolute;
    background-position: center top;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.5;
}
#sectiontext{
    display: inline-block;
    margin-top: 8rem;
    margin-left:60%;
    text-align: center;
}
#sectiontext h1{
    font-size: 40px;
    text-align:center;
}
#sectiontext h7{
    font-size: 15px;
    text-align: center;
    text-decoration:solid;
}
#mainsection button{
    background-color:#CBA17C;
    border:none;
    padding:1rem 2rem;
    color:aliceblue;
    border-radius:3rem;
    font-size:medium;
    font-weight:900;
}
#mainsection button:hover{
    background-color:#D08B4D;
}