html{
    margin:0;
    padding:0;
    width:100%;
}
body{
    margin:0;
    padding:0;
    width:100%;
    background-color:#CBA17C;
    font-family: 'Nanum Gothic', sans-serif;
}

.sub1{
    width:100%;
    background-color:#D3C2B4;
    text-align: center;
}

#sub1section{
    width:100%;
}

.sub1sectiontext{
    width:100%;
}
.sub1image{
    margin:0;
}
.sub1image img{
    width:50%;
    text-align: center;
    border-radius: 5rem;
    margin-bottom:1rem;
}
.sub1sectiontext .sub1title{
    font-size: 2rem;
    padding-top:2rem;
    margin-bottom:2rem;
    font-weight:700;
}
.sub1content{
    display:inline-block;
    margin:1rem 8rem 5rem 8rem;
    text-align:left;
}
.sub1image2{
    display:inline-block;
}
.sub1image2 img{
    border-radius: 1rem;
}
#here{
    cursor:pointer;
}